@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@100&display=swap');

body {
	width: 100%;
	height: 100vh;
	background: gray;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	&.morning {
		background-image: url(../images/bg_morning.jpg);
	}
	&.afternoon {
		background-image: url(../images/bg_afternoon.jpg);
	}
	&.evening {
		background-image: url(../images/bg_evening.jpg);
	}
	&.night {
		background-image: url(../images/bg_night.jpg);
	}

	article {
		width: 60%;
		height: 50%;
		background: rgba(0, 0, 0, 0.4);
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		font-size: 50px;
		font-family: 'Orbitron', sans-serif;
	}
}
